.game-info-panel-game-info-panel {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0);
}
.game-info-panel-game-title {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Quicksand";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.game-info-panel-image {
  width: 243px;
  height: 136px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-buttonradius);
  text-decoration: none;
}
.game-info-panel-text {
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
}
.game-info-panel-text1 {
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}






.game-info-panel-root-class-name6 {
  display: none;
}










.project-container-project-container {
  gap: var(--dl-space-space-halfunit);
  width: 527px;
  height: 348px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.project-container-title {
  color: #f1eaea;
  font-size: 24px;
}
.project-container-iframe {
  width: 320px;
  height: 200px;
  align-self: center;
}
.project-container-description {
  color: rgb(241, 234, 234);
  width: 320px;
  text-align: center;
}













.play-button-container {
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: center;
}
.play-button-play-button {
  width: 375px;
  height: 70px;
  position: relative;
  align-self: stretch;
  text-align: center;
  font-family: "Quicksand";
  border-color: #d1d1e0;
  border-width: 10px;
  border-radius: 50px;
}
.play-button-text {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}





.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-main-menu-bar {
  width: 100%;
  height: 90px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.home-home {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-games {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-projects {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-play {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-landing-page {
  height: 881px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #151519;
}
.home-space {
  width: 100%;
  height: 187px;
  display: flex;
  align-items: flex-start;
}
.home-name {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  font-size: 8em;
  align-self: center;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-space01 {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
}
.home-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  align-self: center;
  text-align: left;
  padding-left: 320px;
  padding-right: 320px;
}
.home-space02 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: flex-end;
}
.home-contact {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  align-self: center;
  padding-bottom: var(--dl-space-space-unit);
}
.home-space03 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-download-link {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  font-size: 28px;
  text-decoration: none;
}
.home-games-page {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.home-space04 {
  width: 100%;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-name1 {
  align-self: center;
  text-align: center;
}
.home-space05 {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: flex-start;
}
.home-container1 {
  gap: var(--dl-space-space-fourunits);
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.home-navlink {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-navlink1 {
  display: contents;
}
.home-component01 {
  text-decoration: none;
}
.home-navlink2 {
  display: contents;
}
.home-component02 {
  text-decoration: none;
}
.home-navlink3 {
  display: contents;
}
.home-component03 {
  text-decoration: none;
}
.home-navlink4 {
  display: contents;
}
.home-component04 {
  text-decoration: none;
}
.home-navlink5 {
  display: contents;
}
.home-component05 {
  text-decoration: none;
}
.home-navlink6 {
  display: contents;
}
.home-component06 {
  text-decoration: none;
}
.home-space06 {
  width: 100%;
  height: 95px;
  display: flex;
  align-items: flex-start;
}
.home-projects-page {
  width: 100%;
  height: 1290px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3a213b;
}
.home-space07 {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: flex-start;
}
.home-name2 {
  color: #f3ebeb;
  align-self: center;
  text-align: center;
}
.home-projects-area {
  gap: 0;
  width: 1248px;
  height: 765px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-space08 {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
}
.home-play-page {
  width: 100%;
  height: 881px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("https://images.unsplash.com/photo-1632516643720-e7f5d7d6ecc9?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fHNoYXBlc3xlbnwwfHx8fDE3MTY0MDkxOTh8MA&ixlib=rb-4.0.3&w=1500");
  background-repeat: repeat;
  background-position: center;
}
.home-space09 {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: flex-start;
}
.home-name3 {
  color: #f3ebeb;
  align-self: center;
  text-align: center;
}
.home-space10 {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
}
.home-container2 {
  gap: 50;
  width: 750px;
  height: 520px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link {
  display: contents;
}
.home-component12 {
  text-decoration: none;
}
.home-space11 {
  flex: 0 0 auto;
  width: 200px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link1 {
  display: contents;
}
.home-component13 {
  text-decoration: none;
}
