<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./content-list6.css" rel="stylesheet" />
      <div class="content-list6-container thq-section-padding">
        <div class="content-list6-max-width thq-section-max-width">
          <div class="content-list6-container1 thq-flex-column">
            <button class="thq-button-filled">
              <span>Terms of service</span>
            </button>
            <button class="thq-button-outline">
              <span>Terms of service</span>
            </button>
            <button class="thq-button-outline">
              <span>Privacy statement</span>
            </button>
            <button class="thq-button-filled">
              <span>Privacy statement</span>
            </button>
            <button class="thq-button-outline">
              <span>Refund Policy</span>
            </button>
            <button class="thq-button-filled">
              <span>Refund Policy</span>
            </button>
          </div>
          <div class="content-list6-container2 thq-flex-column">
            <div class="content-list6-container3">
              <ul class="thq-flex-column">
                <li class="list-item thq-flex-column">
                  <h2 class="content-list6-heading7 thq-heading-2">
                    <span>Terms of service</span>
                  </h2>
                  <p class="thq-body-small">
                    <span>
                      Lorem ipsum dolor sit amet. Vel dolores illum est aperiam
                      quis nam voluptatem quia et omnis autem qui dolore ullam
                      sed fugiat cumque! Qui accusamus assumenda et molestias
                      eius et error sunt. Id recusandae nostrum ea officiis
                      voluptatem in nisi consequatur sed quia tenetur sit alias
                      molestias qui illum soluta. Est nesciunt perferendis eum
                      sint rerum 33 cupiditate dolorem id corrupti laboriosam ut
                      debitis veniam ut ipsam fugit vel sunt consequatur. Et
                      nobis quasi et cumque adipisci aut molestiae eligendi quo
                      inventore dicta ea suscipit sequi sed veritatis nemo.
                    </span>
                  </p>
                  <ul class="content-list6-ul1 thq-flex-column">
                    <li class="list-item">
                      <h3 class="thq-heading-3">
                        <span>General Terms and Conditions</span>
                      </h3>
                      <p class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Nam nihil facilis sit
                          consequuntur internos qui minima rerum ut molestias
                          laudantium aut iusto deserunt. Aut voluptatibus
                          excepturi qui officia laudantium est repellendus
                          tempore hic sunt debitis. Ut galisum tempore in enim
                          fugit eum pariatur possimus est tenetur nemo et sint
                          sint et dolores Quis. Aut illum perspiciatis rem
                          architecto culpa et fuga aliquid. Est omnis
                          praesentium ut nisi internos rem quod totam et
                          similique quis. Est tempore cumque aut recusandae
                          labore qui error molestiae et possimus quia! Eum Quis
                          asperiores non nihil tempora qui quia voluptatem aut
                          aspernatur aspernatur aut asperiores labore et
                          sapiente quaerat qui suscipit quia. Ea nesciunt iste
                          aut temporibus culpa sit dignissimos quaerat eum
                          architecto voluptatum et nemo velit At harum harum.
                        </span>
                      </p>
                    </li>
                    <li class="list-item">
                      <h3 class="thq-heading-3">
                        <span>Products and Services</span>
                      </h3>
                      <p class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Est vitae blanditiis ab
                          aliquam tempore aut ipsam iusto in sunt repellat ex
                          voluptatum inventore ab facilis galisum ea consequatur
                          consequuntur. Ab voluptas voluptatem eum consequatur
                          aspernatur non laboriosam atque est labore asperiores
                          a neque quos. Ea nemo modi hic dicta saepe et
                          veritatis maiores At praesentium aliquid. Sed dolores
                          architecto non doloribus quia eos consectetur commodi
                          non tenetur vitae est neque omnis. Non perspiciatis
                          velit At aliquam rerum ut officiis ipsa id minima eius
                          ut sapiente nobis et nemo neque. Aut maiores tempora
                          in officiis sunt eum voluptatem tenetur sit iste
                          reprehenderit ea nisi dolor. Ea impedit omnis ad
                          internos autem ut esse sunt ad saepe maiores vel
                          perferendis veritatis. Ex magni fugiat ut
                          reprehenderit laudantium sit galisum ipsam eos tempora
                          doloribus sed accusantium nobis eum praesentium quod.
                        </span>
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="content-list6-container4">
              <ul class="thq-flex-column">
                <li class="list-item thq-flex-column">
                  <h1 class="content-list6-heading1 thq-heading-2">
                    <span>Privacy statement</span>
                  </h1>
                  <span class="thq-body-small">
                    <span>
                      Lorem ipsum dolor sit amet. Vel dolores illum est aperiam
                      quis nam voluptatem quia et omnis autem qui dolore ullam
                      sed fugiat cumque! Qui accusamus assumenda et molestias
                      eius et error sunt. Id recusandae nostrum ea officiis
                      voluptatem in nisi consequatur sed quia tenetur sit alias
                      molestias qui illum soluta. Est nesciunt perferendis eum
                      sint rerum 33 cupiditate dolorem id corrupti laboriosam ut
                      debitis veniam ut ipsam fugit vel sunt consequatur. Et
                      nobis quasi et cumque adipisci aut molestiae eligendi quo
                      inventore dicta ea suscipit sequi sed veritatis nemo.
                    </span>
                  </span>
                  <ul class="content-list6-ul3 thq-flex-column">
                    <li class="list-item thq-flex-column">
                      <h1 class="thq-heading-3">
                        <span>Types of data we collect</span>
                      </h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Nam nihil facilis sit
                          consequuntur internos qui minima rerum ut molestias
                          laudantium aut iusto deserunt. Aut voluptatibus
                          excepturi qui officia laudantium est repellendus
                          tempore hic sunt debitis. Ut galisum tempore in enim
                          fugit eum pariatur possimus est tenetur nemo et sint
                          sint et dolores Quis. Aut illum perspiciatis rem
                          architecto culpa et fuga aliquid. Est omnis
                          praesentium ut nisi internos rem quod totam et
                          similique quis. Est tempore cumque aut recusandae
                          labore qui error molestiae et possimus quia! Eum Quis
                          asperiores non nihil tempora qui quia voluptatem aut
                          aspernatur aspernatur aut asperiores labore et
                          sapiente quaerat qui suscipit quia. Ea nesciunt iste
                          aut temporibus culpa sit dignissimos quaerat eum
                          architecto voluptatum et nemo velit At harum harum.
                        </span>
                      </span>
                    </li>
                    <li class="list-item thq-flex-column">
                      <h1 class="thq-heading-3">
                        <span>How we use your data</span>
                      </h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Est vitae blanditiis ab
                          aliquam tempore aut ipsam iusto in sunt repellat ex
                          voluptatum inventore ab facilis galisum ea consequatur
                          consequuntur. Ab voluptas voluptatem eum consequatur
                          aspernatur non laboriosam atque est labore asperiores
                          a neque quos. Ea nemo modi hic dicta saepe et
                          veritatis maiores At praesentium aliquid. Sed dolores
                          architecto non doloribus quia eos consectetur commodi
                          non tenetur vitae est neque omnis. Non perspiciatis
                          velit At aliquam rerum ut officiis ipsa id minima eius
                          ut sapiente nobis et nemo neque. Aut maiores tempora
                          in officiis sunt eum voluptatem tenetur sit iste
                          reprehenderit ea nisi dolor. Ea impedit omnis ad
                          internos autem ut esse sunt ad saepe maiores vel
                          perferendis veritatis. Ex magni fugiat ut
                          reprehenderit laudantium sit galisum ipsam eos tempora
                          doloribus sed accusantium nobis eum praesentium quod.
                        </span>
                      </span>
                    </li>
                    <li class="list-item thq-flex-column">
                      <h1 class="thq-heading-3">
                        <span>Sharing your data with 3rd parties</span>
                      </h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Id galisum officiis rem
                          quod internos qui provident quaerat hic minus eveniet
                          est officiis galisum sit rerum dignissimos. Sit
                          voluptatem alias et veniam rerum ea quod ipsam ut quam
                          neque est nihil repellat est aspernatur voluptatem est
                          voluptas ratione? Ea vero tempore At soluta temporibus
                          33 galisum excepturi quo modi distinctio. Qui dolor
                          soluta sit ipsam vitae et suscipit molestiae est
                          consequatur galisum aut sapiente voluptatem sed quas
                          eaque et minima minus? Rem soluta consequatur et velit
                          cupiditate sed eligendi laudantium rem pariatur
                          galisum sit mollitia debitis eum delectus ipsum aut
                          consequatur mollitia. Qui voluptatibus molestias ut
                          totam Quis ea unde dolorem sit animi eveniet et
                          galisum explicabo. Est culpa error ut voluptatibus
                          voluptatem qui dignissimos dolorem quo laborum
                          distinctio qui omnis perspiciatis ab facilis
                          temporibus qui perspiciatis consectetur. Ab
                          praesentium fugiat eos veritatis quam ex modi autem et
                          sapiente dolorem?
                        </span>
                      </span>
                    </li>
                    <li class="list-item thq-flex-column">
                      <h1 class="thq-heading-3">
                        <span>Campaign tracking</span>
                      </h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Ut cumque cupiditate eos
                          perferendis tempora et ullam quis qui fugiat
                          necessitatibus qui quia dolorem 33 earum reprehenderit
                          eum rerum blanditiis. Et vitae distinctio 33 magni
                          ratione ut odit rerum est nihil error et minus dolor
                          quo harum fugiat. Eos quam assumenda id fugit optio
                          aut magni sunt! Ut iure aliquam vel velit modi sit
                          voluptatibus atque ut corporis sint sit omnis enim a
                          pariatur officiis aut nulla voluptate. In facere
                          incidunt aut sapiente maxime qui quibusdam facilis non
                          officia consectetur sit laboriosam libero aut
                          cupiditate possimus ut sunt reiciendis. Et repudiandae
                          magnam aut quaerat ipsam aut repellat laboriosam. Ab
                          facilis deleniti ut voluptas molestiae sed omnis
                          maiores ut aliquid culpa vel nesciunt saepe. Aut
                          placeat aspernatur aut alias nihil vel neque
                          recusandae et corrupti accusantium ab quod temporibus
                          ut nulla eaque et magnam nemo. Ad sunt minus rem earum
                          delectus hic officia iste qui sunt quos non officiis
                          illo vel doloribus perspiciatis. Ab soluta eius sed
                          quidem dolores rem necessitatibus minus 33 minus
                          commodi. Nam repudiandae libero non laboriosam
                          voluptate et saepe fuga vel repudiandae pariatur aut
                          assumenda illo.
                        </span>
                      </span>
                    </li>
                    <li class="list-item thq-flex-column">
                      <h1 class="thq-heading-3"><span>Cookies</span></h1>
                      <span class="thq-body-small">
                        <span>
                          Ut doloremque aliquam qui veniam deserunt sit
                          voluptates iusto et unde quod ut quam unde ut nemo
                          eius! Ut saepe consequuntur non quibusdam soluta aut
                          maiores eaque et rerum error nam incidunt saepe aut
                          nihil voluptatem. 33 nulla quaerat est doloremque
                          voluptatem ut libero magnam id placeat aliquid. Ea
                          minus totam est inventore minus sed temporibus aperiam
                          At ratione maiores eum libero consequatur aut laborum
                          exercitationem.
                        </span>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="content-list6-container5">
              <ul class="thq-flex-column">
                <li class="list-item thq-flex-column">
                  <h1 class="content-list6-heading10 thq-heading-2">
                    <span>Refund Policy</span>
                  </h1>
                  <span class="thq-body-small">
                    <span>
                      Lorem ipsum dolor sit amet. Vel dolores illum est aperiam
                      quis nam voluptatem quia et omnis autem qui dolore ullam
                      sed fugiat cumque! Qui accusamus assumenda et molestias
                      eius et error sunt. Id recusandae nostrum ea officiis
                      voluptatem in nisi consequatur sed quia tenetur sit alias
                      molestias qui illum soluta. Est nesciunt perferendis eum
                      sint rerum 33 cupiditate dolorem id corrupti laboriosam ut
                      debitis veniam ut ipsam fugit vel sunt consequatur. Et
                      nobis quasi et cumque adipisci aut molestiae eligendi quo
                      inventore dicta ea suscipit sequi sed veritatis nemo.
                    </span>
                  </span>
                  <ul class="content-list6-ul5 thq-flex-column">
                    <li class="list-item">
                      <h1 class="thq-heading-3"><span>General</span></h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Nam nihil facilis sit
                          consequuntur internos qui minima rerum ut molestias
                          laudantium aut iusto deserunt. Aut voluptatibus
                          excepturi qui officia laudantium est repellendus
                          tempore hic sunt debitis. Ut galisum tempore in enim
                          fugit eum pariatur possimus est tenetur nemo et sint
                          sint et dolores Quis. Aut illum perspiciatis rem
                          architecto culpa et fuga aliquid. Est omnis
                          praesentium ut nisi internos rem quod totam et
                          similique quis. Est tempore cumque aut recusandae
                          labore qui error molestiae et possimus quia! Eum Quis
                          asperiores non nihil tempora qui quia voluptatem aut
                          aspernatur aspernatur aut asperiores labore et
                          sapiente quaerat qui suscipit quia. Ea nesciunt iste
                          aut temporibus culpa sit dignissimos quaerat eum
                          architecto voluptatum et nemo velit At harum harum.
                        </span>
                      </span>
                    </li>
                    <li class="list-item">
                      <h1 class="thq-heading-3">
                        <span>Damages and issues</span>
                      </h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Est vitae blanditiis ab
                          aliquam tempore aut ipsam iusto in sunt repellat ex
                          voluptatum inventore ab facilis galisum ea consequatur
                          consequuntur. Ab voluptas voluptatem eum consequatur
                          aspernatur non laboriosam atque est labore asperiores
                          a neque quos. Ea nemo modi hic dicta saepe et
                          veritatis maiores At praesentium aliquid. Sed dolores
                          architecto non doloribus quia eos consectetur commodi
                          non tenetur vitae est neque omnis. Non perspiciatis
                          velit At aliquam rerum ut officiis ipsa id minima eius
                          ut sapiente nobis et nemo neque. Aut maiores tempora
                          in officiis sunt eum voluptatem tenetur sit iste
                          reprehenderit ea nisi dolor. Ea impedit omnis ad
                          internos autem ut esse sunt ad saepe maiores vel
                          perferendis veritatis. Ex magni fugiat ut
                          reprehenderit laudantium sit galisum ipsam eos tempora
                          doloribus sed accusantium nobis eum praesentium quod.
                        </span>
                      </span>
                    </li>
                    <li class="list-item">
                      <h1 class="thq-heading-3"><span>Refunds</span></h1>
                      <span class="thq-body-small">
                        <span>
                          Lorem ipsum dolor sit amet. Est vitae blanditiis ab
                          aliquam tempore aut ipsam iusto in sunt repellat ex
                          voluptatum inventore ab facilis galisum ea consequatur
                          consequuntur. Ab voluptas voluptatem eum consequatur
                          aspernatur non laboriosam atque est labore asperiores
                          a neque quos. Ea nemo modi hic dicta saepe et
                          veritatis maiores At praesentium aliquid. Sed dolores
                          architecto non doloribus quia eos consectetur commodi
                          non tenetur vitae est neque omnis. Non perspiciatis
                          velit At aliquam rerum ut officiis ipsa id minima eius
                          ut sapiente nobis et nemo neque. Aut maiores tempora
                          in officiis sunt eum voluptatem tenetur sit iste
                          reprehenderit ea nisi dolor. Ea impedit omnis ad
                          internos autem ut esse sunt ad saepe maiores vel
                          perferendis veritatis. Ex magni fugiat ut
                          reprehenderit laudantium sit galisum ipsam eos tempora
                          doloribus sed accusantium nobis eum praesentium quod.
                        </span>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
