.footer5-footer8 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer5-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer5-content {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer5-column {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer5-logo {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer5-logo1 {
  height: 2rem;
}
.footer5-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer5-actions {
  gap: var(--dl-space-space-unit);
  width: 420px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer5-actions1 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer5-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer5-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer5-text-input {
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer5-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer5-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer5-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .footer5-content {
    flex-direction: column;
  }
  .footer5-column {
    width: 100%;
  }
  .footer5-logo {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .footer5-actions {
    width: 100%;
  }
  .footer5-form {
    width: 100%;
    flex-direction: row;
  }
  .footer5-container {
    width: 100%;
  }
  .footer5-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer5-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer5-content {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer5-logo {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer5-actions {
    width: 100%;
  }
  .footer5-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer5-container {
    width: 100%;
  }
  .footer5-button {
    width: 208px;
  }
  .footer5-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer5-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer5-links {
    flex-direction: column;
  }
  .footer5-actions1 {
    width: 100%;
  }
  .footer5-form {
    width: 100%;
    flex-direction: column;
  }
  .footer5-container {
    width: 100%;
  }
  .footer5-button {
    width: 100%;
  }
  .footer5-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
