.game-info-panel-game-info-panel {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0);
}
.game-info-panel-game-title {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Quicksand";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.game-info-panel-image {
  width: 243px;
  height: 136px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-buttonradius);
  text-decoration: none;
}
.game-info-panel-text {
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
}
.game-info-panel-text1 {
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}






.game-info-panel-root-class-name6 {
  display: none;
}









